
#toPortfolio {
    font-size: 40em;
    text-decoration: none;
    border-bottom: none;
}
#footer{
 bottom: 0px;
 font-size: 5em;
}
#more{
		-moz-transition: border-color 0.6s ease-in-out;
		-webkit-transition: border-color 0.6s ease-in-out;
		-o-transition: border-color 0.6s ease-in-out;
		-ms-transition: border-color 0.6s ease-in-out;
		transition: border-color 0.6s ease-in-out;
}
#wrapper {
    
}
